<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="QQSectionGroup">
      <section name="QzoneSection" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <QQSectionGroup>
    <QzoneSection>
      <add key="AppKey" value="101311518"/>
      <add key="AppSecret" value="7a973dba4824b4bef46543124ebc5633"/>
      <add key="CallBackURI" value="http://www.8z5.net/home/login"/>
      <add key="AuthorizeURL" value="https://graph.qq.com/oauth2.0/authorize"/>
    </QzoneSection>
  </QQSectionGroup>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>